.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.459);
    margin: auto;
    height: 100%;
}
.modal{
    background: white;
    border-radius: 10px;
    width: 50rem;
    
    margin: auto;
}
.modal__nav{
    color:white;
    /* font-size:large; */
    padding: 1.2rem;
    background-color: blueviolet;
}
.modal__body{
    padding: 1rem;
    color: black;
    background: white;
}
.modal__footer{
    display: flex;
    justify-content: flex-end;
}